@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #f9f5f5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3rem;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.slider {
  position: relative;
  height: 1.5em;
  width: 180px;
  overflow: hidden;
}

.slider__word {
  font-weight: 500;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: slide 8s linear infinite;
}

.slider__word:nth-child(1) {
  animation-delay: 0s;
}
.slider__word:nth-child(2) {
  animation-delay: 2s;
}
.slider__word:nth-child(3) {
  animation-delay: 4s;
}
.slider__word:nth-child(4) {
  animation-delay: 6s;
}
body #bmc-iframe {
  z-index: 9999 !important;
  height: 500px !important;
  width: 25% !important;
  min-width: 300px !important;
  min-height: unset !important;
  max-width: 420px;
  max-height: 620px;
}

@keyframes slide {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  5% {
    transform: translateY(0);
    opacity: 1;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
