name: Daily Job

on:
  schedule:
    - cron: "0 9,12,15,18,21 * * *"
  workflow_dispatch:

jobs:
  run-cron:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        city: []
    steps:
      - name: Call API for ${{ matrix.city }}
        run: |
          curl -X GET \
            -H "Authorization: Bearer ${{ secrets.CRON_SECRET }}" \
            https://tatilmi.benserhat.com/api/scrape?city=${{ matrix.city }}