name: Daily Job

on:
  schedule:
    - cron: "0 9,12,15,18,21 * * *"
  workflow_dispatch:

jobs:
  run-cron:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: API
        run: |
          cities=(
            "adana" "adiyaman" "afyonkarahisar" "ağrı" "amasya" "ankara" "antalya" "artvin"
            "aydın" "balıkesir" "bilecik" "bingöl" "bitlis" "bolu" "burdur" "bursa" "çanakkale"
            "çankırı" "çorum" "denizli" "diyarbakır" "edirne" "elazığ" "erzincan" "erzurum"
            "eskişehir" "gaziantep" "giresun" "gümüşhane" "hakkari" "hatay" "ısparta" "mersin"
            "istanbul" "izmir" "kars" "kastamonu" "kayseri" "kırklareli" "kırşehir" "kocaeli"
            "konya" "kütahya" "malatya" "manisa" "kahramanmaraş" "mardin" "muğla" "muş"
            "nevşehir" "niğde" "ordu" "rize" "sakarya" "samsun" "siirt" "sinop" "sivas"
            "tekirdağ" "tokat" "trabzon" "tunceli" "şanlıurfa" "uşak" "van" "yalova"
            "yozgat" "zonguldak" "aksaray" "bayburt" "karaman" "kırıkkale" "batman"
            "şırnak" "bartın" "ardahan" "ığdır" "karabük" "kilis" "osmaniye" "düzce"
          )

          for city in "${cities[@]}"; do
            echo "Scraping data for $city"
            curl -X GET \
              -H "Authorization: Bearer ${{ secrets.CRON_SECRET }}" \
              "https://tatilmi.benserhat.com/api/scrape/$city"
            curl -X POST https://backboard.railway.com/graphql/v2 \
              -H "Authorization: Bearer ${{ secrets.RAILWAY_TOKEN }}" \
              -H "Content-Type: application/json" \
              -d '{"query":"mutation deploymentRestart($id: String!) {\ndeploymentRestart(id: $id)\n}","variables":{"id":"921613d4-690e-48cb-a1ee-515dfbe68faf"}}'
            sleep 60
          done